@import url('https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');

body {
	--color-background: #112;
	--color-text: #ddd;
	--color-link: #e0a;
	--color-underline: #ccc;

	font-family: 'Maven Pro', sans-serif;
	font-size: 20px;
	line-height: 1.4;
	padding: 1.5em;
	background-color: var(--color-background);
	color: var(--color-text);
	transition: background-color 0.6s ease-out, color 0.3s;
}

body:has(#light:checked) {
	--color-background: #eee;
	--color-text: #334;
	--color-link: #08c;
	--color-underline: #445;
}

#light {
	position: absolute;
	opacity: 0;
}

#light:checked ~ .on,
#light:not(:checked) ~ .off {
	display: none;
}

a {
	color: var(--color-link);
	text-decoration-color: var(--color-underline);
	text-decoration-skip-ink: none;
	text-decoration-thickness: 2px;
	text-underline-offset: 2px;
	font-weight: bold;
}

a:hover {
	text-decoration-color: var(--color-link);
}

ul {
	padding-left: 1.2em;
}

li {
	margin-block: 0.75em;
	padding-inline: 0.5em;
}

small {
	display: block;
}

small a {
	font-weight: normal;
}

header,
main {
	margin: 3em auto;
	max-width: fit-content;
}

footer {
	margin: 3em auto;
	max-width: 1200px;
}

header {
	margin-block: 3em;
	text-align: center;
}

section {
	margin-top: 2em;
}

footer {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
	gap: 0 3em;
	margin-bottom: 3em;
}

nav {
	position: absolute;
	right: 1em;
	top: 1em;
}

img {
	border-radius: 50%;
}
