.field
    margin 1rem 0
    background-color $borderColor
    border-radius 0.3rem
    overflow hidden

    label
        box-sizing border-box
        display block
        padding 0.5rem
        font-size 0.8rem
    
    input
    textarea
        box-sizing border-box
        width 100%
        padding 0.5rem
        margin 0
        border 0
        font-size 1.2rem
        color white
        background-color transparent
        border-bottom 2px solid darken($borderColor, 10%)
        resize none

        &:focus
            outline none
            border-color $accentColor

button
    box-sizing border-box
    width 100%
    padding 1rem 0.5rem
    font-size 1.2rem
    text-align center
    color $bgColor
    background-color $accentColor
    border none
    border-radius 0.3rem
    cursor pointer

    &:hover
        background-color: saturate($accentColor,90%)