h1, h2, h3, h4, h5, h6, 
.ui-post-title, 
.header-wrapper .title a, 
.header-wrapper .header-right-wrap .nav .nav-item a
    heading-font()

#mobile-header .mobile-header-title .mobile-home-link
    heading-font()
    color $darkTextColor