$accentColor = #396
// $textColor = #677
// $borderColor = #efecea
// $codeBgColor = #282c34
// $arrowBgColor = #ccc
// $badgeTipColor = #42b983
// $badgeWarningColor = darken(#ffe564, 35%)
// $badgeErrorColor = #DA5961

// // layout
// $navbarHeight = 3.6rem
// $sidebarWidth = 20rem
// $contentWidth = 740px
// $homePageWidth = 960px

// // responsive breakpoints
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px

heading-font()
    font-weight 400 !important
    font-family roboto, arial, helvetica, sans-serif !important
    text-transform: none !important