$accentColor = #90A583
$textColor = #D7CDCC

$darkTextColor = #F1DEDE

$borderColor = rgba($darkTextColor,.05)
$darkBorderColor = $darkTextColor

$codeBgColor = #52414C

$bgColor = #30292F
$headerBgColor = #52414C;

$footerBgColor = #52414C
$footerColor = $textColor

$newsletterBgColor = #52414C

$postTagBgColor = #52414C
$postTagColor = $accentColor

// // layout
// $navbarHeight = 3.6rem
// $sidebarWidth = 20rem
// $contentWidth = 740px
// $homePageWidth = 960px

// // responsive breakpoints
// $MQNarrow = 959px
// $MQMobile = 719px
// $MQMobileNarrow = 419px

heading-font()
    font-weight 400 !important
    font-family roboto, arial, helvetica, sans-serif !important
    text-transform none !important
